#sort_dlm_cats tbody td {
	background: #fff;
}
#sort_dlm_cats tbody .ui-state-highlight, #sort_dlm_cats tbody .ui-state-highlight td {
	background: #464646;
}
#sort_dlm_cats ul.children {
	padding-left: 32px;
	padding-top: 6px ;
	margin: 0 !important;
}
#sort_dlm_cats ul.children li {
	line-height: 120% !important;
}
#sort_dlm_cats ul.children li img {
	vertical-align: middle;
}
#sort_dlm_cats .handle {
	cursor: move;
}


#wp_dlm_add table .setting-description {
	width: 362px;
	display: block;
}
#meta_fields {
	overflow: auto;
	height: 250px;
	margin: 8px 1px !important;
}
#meta_fields ul {
	padding: 0 6px;
}
#meta_fields ul li {
	padding: 2px 0;
	margin: 0;
	border-bottom: 1px solid #F9F9F9;
}

#tag-list, #meta_fields {
	background: #fff; 
	border: 1px solid #DFDFDF; 
	margin: 1px; 
	padding: 6px 0; 
	width: 358px;
}
#tag-list li {
	display: inline;
	padding: 0 6px;
}
.download_monitor .widefat thead th a {
	color:#d7d7d7 !important;
	text-decoration:underline;
}
.download_monitor .checkbox {
	padding: 0 !important;
}
.download_monitor .error
{
	padding:12px;
}
.download_monitor hr {
	display: none;
	}
.download_monitor {
	margin:0 15px;
	max-width:980px;
	}
.download_monitor .wrap.alternate {
	padding:0 0 0 8px;
	margin: 0 0 1.5em !important;
}
.download_monitor #downloadadminicon {
	display: none;
}
.download_monitor hr {
	border: 1px solid #ccc !important;
	background: transparent;
	padding: 0;
	}
.download_monitor .about {
	color: #999;
	}
.download_chart td.value {
	background-image: url(../img/gridline58.gif);
	background-repeat: repeat-x;
	background-position: left top;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	padding: 0;
	background-color: transparent;
	}
.download_chart td {
	padding: 4px 6px;
	border-bottom: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	background-color: #fff;
	}
.download_chart td.value img {
	vertical-align: middle;
	margin: 5px 5px 5px 0;
	border-right: 1px solid #828282;
	border-bottom: 1px solid #828282;
	}
.download_chart th {
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid #e5e5e5;
	}
.download_chart .auraltext {
	position: absolute;
	font-size: 0;
	left: -1000px;
	}
table.download_chart {
	width: 100%;
	}
.download_chart caption {
	font-size: 90%;
	font-style: italic;
	}
.clear {
	clear: both;
}