#sort_dlm_cats tbody td {
	background: #fff;
}
#sort_dlm_cats tbody .ui-state-highlight, #sort_dlm_cats tbody .ui-state-highlight td {
	background: #464646;
}
#sort_dlm_cats ul.children {
	padding-left: 32px;
	padding-top: 6px ;
	margin: 0 !important;
}
#sort_dlm_cats ul.children li {
	line-height: 120% !important;
}
#sort_dlm_cats ul.children li img {
	vertical-align: middle;
}
#sort_dlm_cats .handle {
	cursor: move;
}

#wp_dlm_add table .setting-description {
	width: 362px;
	display: block;
}
#wp_dlm_add table.optiontable {
	border-top: 1px solid #EBEBEB; 
}
#wp_dlm_add table.optiontable td, #wp_dlm_add table.optiontable th {
	border-top: 1px solid #fff; 
	border-bottom: 1px solid #EBEBEB; 
}
#meta_fields {
	overflow: auto;
	height: 250px;
	margin: 8px 1px !important;
}
#meta_fields ul {
	padding: 0 6px;
}
#meta_fields ul li {
	padding: 2px 0;
	margin: 0;
	border-bottom: 1px solid #F9F9F9;
}
#tag-list, #meta_fields {
	background: #fff; 
	border: 1px solid #DFDFDF; 
	margin: 1px; 
	padding: 6px 0; 
	width: 358px;
}
#tag-list li {
	display: inline;
	padding: 0 6px;
}
.download_monitor .widefat thead th a {
	color: #333 !important;
	text-decoration: underline;
	}
.download_monitor .checkbox {
	padding: 0 !important;
}
.download_monitor .error {
	padding: 12px;
	}
.download_monitor .dlm.meta-box-sortables {
	margin: 0 15px 0 5px;
	}
.download_monitor #downloadadminicon {
	background: transparent url(../img/downloads-icon.gif) no-repeat scroll -8px -5px;
	}
.download_monitor .a_break {
	display: none;
	}
.download_monitor .dlm.meta-box-sortables h3 {
	cursor: pointer;
	}
.download_monitor #wp_dlm_add strong {
	font-weight: normal;
	}
.download_monitor .small-table {
	margin-bottom: 0;
	}
.download_monitor .small-table td {
	font-size: 11px;
	line-height: 12px;
	margin-bottom: 0px;
	padding: 4px 10px;
	}
.download_monitor .small-table th {
	padding: 4px 10px;
	line-height: 12px;
	text-align: left;
	vertical-align: middle;
	width: 100px;
	}
.download_monitor hr {
	border: 1px solid #ccc !important;
	border-left: 0 !important;
	border-right: 0 !important;
	background: transparent;
	margin: 0.5em 0 !important;
	padding: 0;
	width: 99.5%;
	}
.download_monitor .about {
	width: 99.5%;
	color: #999;
}
.download_monitor .about-widget {
	border-color: #DFDFDF;
	border-bottom-left-radius: 6px 6px;
	border-bottom-right-radius: 6px 6px;
	border-style: solid;
	border-width: 1px;
	border-top-left-radius: 6px 6px;
	border-top-right-radius: 6px 6px;
	line-height: 1;
	margin-bottom: 20px;
	min-width: 255px;
	position: relative;
	width: 32%;
	float: left;
	margin-right: 2%;
	background: #fff;
	color: #464646;
	margin-bottom: 1em;
	margin-top: 0.5em;
	}
.download_monitor .about-widget .inside {
	padding: 10px;
	height: 200px;
	overflow: auto;
}
.download_monitor .about h3 {
	color: #464646;
	background: #DFDFDF url(../img/gray-grad.png) repeat-x 0% 0%;
	text-shadow: white 0px 1px 0px;
	border-top-left-radius: 6px 6px;
	border-top-right-radius: 6px 6px;
	border-top-left-radius: 6px 6px;
	border-top-right-radius: 6px 6px;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	margin: 0px;
	padding: 7px 9px;
	cursor: default !important;
}
.download_monitor .about-widget ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	font-size: 11px;
}
.download_monitor .about-widget li, .download_monitor .about-widget p {
	line-height: 1.5em;
	margin-bottom: 12px;
	margin-top: 0;
}
.download_monitor .about a {
	text-decoration: none;
	font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif;
	font-size: 13px;
	line-height: 1.7em;
	}
.download_monitor .about .rss-date {
	color: #666;
}
.clear {
	clear: both;
}
.download_chart td.value {
	background-image: url(../img/gridline58.gif);
	background-repeat: repeat-x;
	background-position: left top;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	padding: 0;
	background-color: transparent;
	}
.download_chart td {
	padding: 4px 6px;
	border-bottom: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	background-color: #fff;
	}
.download_chart td.value img {
	vertical-align: middle;
	margin: 5px 5px 5px 0;
	border-right: 1px solid #828282;
	border-bottom: 1px solid #828282;
	}
.download_chart th {
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid #e5e5e5;
	}
.download_chart .auraltext {
	position: absolute;
	font-size: 0;
	left: -1000px;
	}
table.download_chart {
	width: 100%;
	}
.download_chart caption {
	font-size: 90%;
	font-style: italic;
	}