/nbproject/private/
/node_modules/
/assets/js/legacy-upgrader/node_modules/
/assets/js/legacy-upgrader/build/index.html
project.xml
project.properties
*.DS_Store
Thumbs.db
.buildpath
.project
.settings*
sftp-config.json
/deploy/
.idea
/tmp/
download-monitor.zip

# Exclude everything in /vendor except our autoload stuff
vendor/*
!vendor/composer
!vendor/autoload_*

# Ignore all log files except for .htaccess
/logs/*
!/logs/.htaccess

download-monitor.zip