/nbproject/private/
/node_modules/
project.xml
project.properties
*.DS_Store
Thumbs.db
.buildpath
.project
.settings*
sftp-config.json
/deploy/
.idea
/tmp/

# Exclude everything in /vendor except our autoload stuff
vendor/*
!vendor/composer
!vendor/autoload_52.php
vendor/composer/installers
vendor/composer/installed.json

# Ignore all log files except for .htaccess
/logs/*
!/logs/.htaccess