#dlm_reports_page .recharts-surface:focus {
    outline: none;
}
#dlm_reports_page .dlm-downloads-table-col-download_id {
    width: 50px;
    cursor: default;
}
#dlm_reports_page .dlm-downloads-table-col-user_ip {
    cursor: default;
}
#dlm_reports_page .dlm-em-select__input:focus {
    box-shadow: unset;
}