.dlmReportsWrapper{
    margin: 40px 20px 0 0;
    .dlmReportsHeader{
        background-color: #fff;
        border: 1px solid #ddd;
        display: flex;
        width: 100%;
        align-items: center;
    }
    .dlmReportsBody{
        color: green;
    }
}