/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./assets/apps/upsells/components/RangePicker.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.qMIB4zUZYg_xk3P72S3J {
  position: relative;
  cursor: default;
  display: inline-flex;
  margin-left: 24px;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.qMIB4zUZYg_xk3P72S3J .UsXo9wH5H3dZrMWkFGqY {
  font-size: 10px;
  background: #f4daa4;
  padding: 2px 5px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 16px;
}
.qMIB4zUZYg_xk3P72S3J .lgKzwFE6KHuv9rVY9ROu {
  display: block;
  font-weight: 600;
  margin-bottom: 4px;
}
.qMIB4zUZYg_xk3P72S3J .xarNw2UwG9GN9rSAlwnH {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
}
.qMIB4zUZYg_xk3P72S3J .v1Udgyb3bkyCGKN93LuG {
  background-color: #f6f7f7;
  position: relative;
  border: 1px solid #e0e0e0;
  color: #a7aaad;
  border-radius: 4px;
  height: auto;
  text-align: left;
  padding: 8px 12px;
  min-height: 48px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 60px;
  align-items: center;
}
.qMIB4zUZYg_xk3P72S3J .hI0xrJGmnc0chGBFh_M_ {
  font-size: 13px;
  font-weight: 600;
}
.qMIB4zUZYg_xk3P72S3J .lhb9Snow0ydxguPXrT0K {
  font-size: 12px;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./assets/apps/upsells/components/LogsFilter.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.CrdlHlOozKMhxICI3SR6 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.CrdlHlOozKMhxICI3SR6 .u4V3atFqfhCWrdDuCgCb {
  font-size: 10px;
  background: #f4daa4;
  padding: 2px 5px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}
.CrdlHlOozKMhxICI3SR6 .aQ5omEWKhHL1jtSjDtQp {
  display: flex;
  align-items: center;
}
.CrdlHlOozKMhxICI3SR6 .aQ5omEWKhHL1jtSjDtQp .Ym2TgkCCMbXzgR7ALegm {
  padding: 6px 12px;
  color: #a7aaad;
  text-decoration: none;
  align-items: center;
  white-space: nowrap;
  gap: 5px;
  line-height: 1;
  cursor: default;
}
.CrdlHlOozKMhxICI3SR6 .aQ5omEWKhHL1jtSjDtQp .Ym2TgkCCMbXzgR7ALegm:hover {
  color: #a7aaad;
}
.CrdlHlOozKMhxICI3SR6 .aQ5omEWKhHL1jtSjDtQp .ZSiGp1rudOabSEJTuPEj {
  color: #a7aaad;
  height: 100%;
}

.AGG4EBnEK0eb6bcyuc3U {
  display: flex;
}
.AGG4EBnEK0eb6bcyuc3U .OhDv7vY19A3EszLALTXE {
  display: flex;
  align-items: center;
}
.AGG4EBnEK0eb6bcyuc3U .OhDv7vY19A3EszLALTXE .vPCtyR9TwSfRXYR0vdqJ {
  flex: 0 1 10%;
  min-width: 210px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  font-size: 13px;
  position: relative;
  overflow: hidden;
}
.AGG4EBnEK0eb6bcyuc3U .OhDv7vY19A3EszLALTXE .vPCtyR9TwSfRXYR0vdqJ .u4V3atFqfhCWrdDuCgCb {
  font-size: 10px;
  background: #f4daa4;
  padding: 2px 5px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 8px;
}
.AGG4EBnEK0eb6bcyuc3U .OhDv7vY19A3EszLALTXE .vPCtyR9TwSfRXYR0vdqJ:first-child {
  border-left: 1px solid #e0e0e0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.AGG4EBnEK0eb6bcyuc3U .OhDv7vY19A3EszLALTXE .vPCtyR9TwSfRXYR0vdqJ:last-child {
  border-right: 1px solid #e0e0e0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.AGG4EBnEK0eb6bcyuc3U .OhDv7vY19A3EszLALTXE .vPCtyR9TwSfRXYR0vdqJ:not(:last-child) {
  border-right: 1px solid #e0e0e0;
}
/*!***********************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./assets/apps/upsells/index.css ***!
  \***********************************************************************************************************************************************************************************/
.dlm-reports-nav-upsells {
    margin-left: auto;
}
#dlm_reports_page .dlm-em-upsell-select__control {
    border-radius: unset;
    border: unset;
    background-color: #f6f7f7;
}

/*# sourceMappingURL=upsells.css.map*/