/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./assets/apps/reports-widget/components/BarChartComponent.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.GL0poWjEtPjjgUHImNMK {
  width: 100%;
  height: 200px;
  background-color: #fff;
  padding: 24px 0;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.GL0poWjEtPjjgUHImNMK .BR5PxvemghDX6tou3AWs {
  width: 30px;
  height: 30px;
}

.X9o9Fm8wG8pCCvG13_n0 {
  background-color: #fff;
  padding: 24px 0 0 24px;
  overflow: hidden;
  position: relative;
}
.X9o9Fm8wG8pCCvG13_n0 .BtM2JPdgswFJ_Y1PHeSe {
  margin-right: -16px;
}

.UKir77hBpy9kUZLpKO96 {
  background: #FFF;
  font-size: 14px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  padding: 17px 17px 17px;
  display: grid;
  gap: 10px;
  min-width: 200px;
  box-sizing: border-box;
  line-height: 1;
}
.UKir77hBpy9kUZLpKO96 .NrSXM7VnmXWKsk91YU7Q {
  text-align: right;
  line-height: 18px;
  width: 100%;
  text-transform: uppercase;
  font-size: 11px;
  color: #757575;
  margin-top: 0;
}
.UKir77hBpy9kUZLpKO96 .tSDf36fbidctWOfr84jf {
  display: grid;
  gap: 10px;
}
.UKir77hBpy9kUZLpKO96 .tSDf36fbidctWOfr84jf .QFvRuup88Ub7nklHDuwP {
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: center;
}
.UKir77hBpy9kUZLpKO96 .tSDf36fbidctWOfr84jf .QFvRuup88Ub7nklHDuwP .IecprrTuskFGzFTD52Vf {
  display: block;
  width: 16px;
  height: 16px;
}
.UKir77hBpy9kUZLpKO96 .tSDf36fbidctWOfr84jf .QFvRuup88Ub7nklHDuwP .cwPOsdcfjVCpRc2dPaan {
  background-color: #31688e;
}
.UKir77hBpy9kUZLpKO96 .tSDf36fbidctWOfr84jf .QFvRuup88Ub7nklHDuwP .WLO5LRH2Ssswncgx0Cse {
  background-color: #35b779;
}
.UKir77hBpy9kUZLpKO96 .tSDf36fbidctWOfr84jf .QFvRuup88Ub7nklHDuwP .h29ozcZHpnB6IuZG7r3f {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.UKir77hBpy9kUZLpKO96 .tSDf36fbidctWOfr84jf .QFvRuup88Ub7nklHDuwP .h29ozcZHpnB6IuZG7r3f ._guDJvMBzA3Bdt1vJP38 {
  color: #3c434a;
  font-size: 14px;
}
.UKir77hBpy9kUZLpKO96 .tSDf36fbidctWOfr84jf .QFvRuup88Ub7nklHDuwP .h29ozcZHpnB6IuZG7r3f .xo_d36RwvF4wl4kZtn0Y {
  color: #3c434a;
  font-size: 14px;
  font-weight: 600;
}
.UKir77hBpy9kUZLpKO96 .FfcCYY1OIu8yJjyMgixu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
}
.UKir77hBpy9kUZLpKO96 .FfcCYY1OIu8yJjyMgixu svg {
  width: 16px;
  height: 16px;
}
.UKir77hBpy9kUZLpKO96 .FfcCYY1OIu8yJjyMgixu.d1tBk1g8VWLlFXB2wXPa {
  color: #12a26c;
}
.UKir77hBpy9kUZLpKO96 .FfcCYY1OIu8yJjyMgixu.d1tBk1g8VWLlFXB2wXPa svg {
  fill: #12a26c;
}
.UKir77hBpy9kUZLpKO96 .FfcCYY1OIu8yJjyMgixu.ieZ0SULC54Xh3CG5HGcv {
  color: #7b0000;
}
.UKir77hBpy9kUZLpKO96 .FfcCYY1OIu8yJjyMgixu.ieZ0SULC54Xh3CG5HGcv svg {
  fill: #7b0000;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./assets/apps/reports-widget/components/WidgetCards.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.QAZ9fwArab4kjxN0x6Tm {
  display: grid;
  gap: 0;
  margin-top: 12px;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./assets/apps/reports-widget/components/Summary.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.tiLjAJEWu9mPu14kAIz3 {
  padding: 12px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
}
.tiLjAJEWu9mPu14kAIz3 .QqlrKslhN79PiBIJ34Fc .OG5O7hNeYRv9fdydxR1_ {
  display: flex;
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
.tiLjAJEWu9mPu14kAIz3 .QqlrKslhN79PiBIJ34Fc .sQyh1OplCvZz5v4SrfKD {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./assets/apps/reports-widget/ReportsWrapper.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.LJOXoH2zY7EcpS6HDn4H {
  margin: 0;
}
.LJOXoH2zY7EcpS6HDn4H .MLxgsxVgnpiXROZg0AxC {
  background-color: #fff;
  padding: 0 24px;
  border-bottom: 1px solid #ccc;
}
.LJOXoH2zY7EcpS6HDn4H .vr8_qXQRq9lSkLF7kqnZ {
  padding: 24px 24px 0;
}
.LJOXoH2zY7EcpS6HDn4H .EfVfSI0eLkYll_BoKthM {
  padding: 0px 24px;
}
/*!******************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./assets/apps/reports-widget/index.css ***!
  \******************************************************************************************************************************************************************************************/

