@cart_bottom_bg: #f8f8f8;

.dlm-checkout {

  form {
    padding: 0;
    margin: 0;
  }

  .dlm-checkout-billing {
    width: 55%;
    float: left;
  }

  .dlm-checkout-order-review {
    width: 40%;
    float: right;
  }

  .dlm-checkout-row {
    width: 100%;
    padding: 5px 0;

    label {
      display: inline-block;
      width: 100%;
      .dlm-checkout-required {
        padding: 0 5px;
        color: #ff0000;
      }
    }

    .dlm-checkout-input-wrapper {
      display: inline-block;
      width: 100%;
      padding: 5px 0;

      input, select {
        width: 100%;
      }
      select {
        padding: 5px;
      }

    }
  }

  .dlm-checkout-row-half {
    width: 45%;
    float: left;
  }

  .dlm-checkout-row-last {
    float: right;
  }

  .dlm-checkout-payment {
    ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    ul {
      li {
        background: #fbfbfb;
        margin-bottom: 20px;
        label {
          display: inline-block;
          width: 100%;
          padding: 15px 25px;
          background: #f8f8f8;
          cursor: pointer;

          input {
            margin-right: 10px;
          }
        }
        .dlm_gateway_details {
          padding: 15px 25px;

          p {
            padding: 0;
            margin: 0;
          }
        }
      }
    }
  }

}
