.dlm-upgrade-db-notice {
	background: transparent;
	border:0;
	padding:0;
}

.dlm-upgrade-db-notice .main {
	display:flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	background:#fff;
	padding: 0 15px;
	border: 1px solid #c3c4c7
}

.dlm-upgrade-db-notice #dlm_progress-bar {
	position: relative;
	border-radius: 0;
	border: 0;
	overflow:hidden;
}

.dlm-upgrade-db-notice #dlm_progress-bar .dlm-progress-label {
	position: absolute;
	left: 50%;
	top: 4px;
	color: #d97115;
	font-weight: bold;
	z-index:99;
}

.dlm-upgrade-db-notice #dlm_progress-bar .ui-progressbar-value {
	background: #2ecc71;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	transition:1s ease-in;
	position: relative;
}

.dlm-upgrade-db-notice #dlm_progress-bar:not(.completed)::before {
	content: "";
	display: block;
	height: 100%;
	width: 150px;
	position: absolute;
	background: #3498db;
	z-index: 9;
	animation: dlm_loading 3s infinite linear;
	box-shadow:0px 0px 15px #3498db;
	border-radius: 20px;
}
 
@keyframes dlm_loading {
	 0% {
	  left:-150px;
	}
  
	 100% {
	  left:100%;
	}
  }
