@keyframes infinite-spinning {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.download-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.download-container .spinner {
	background: url('../../../../../wp-admin/images/spinner.gif') no-repeat;
	-webkit-background-size: 20px 20px;
	display: none;
	background-size: 20px 20px;
	opacity: 0.7;
	filter: alpha(opacity=70);
	width: 20px;
	height: 20px;
	position: relative;
	border-radius: 20px;
	background: #808080;
	animation: infinite-spinning 1.08s linear infinite;
}
.download-container .spinner:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 50%;
	width: 4px;
	height: 4px;
	border-radius: 4px;
	margin-left: -(4px / 2);
	background: #fff;
}
.download-container p {
	margin: 0;
}
.download-container p span {
	font-weight: bold;
	color: green;
}

.download-button {
	position:relative;
}

.download-button p {
	margin:0;
}

.download-button .progress {
	background: #006080;
}
.download-button .progress .progress-inner {
	height: 6px;
	top: 0;
    width: 0%;
    -webkit-transition: width 0.3s, opacity 0.3s;
    transition: width 0.3s, opacity 0.3s;
	position: absolute;
    left: 0;
    background: #006080;
}

.download-button p  span.download-done::after {
	content: '✓';
}