.download-box {
  width: 250px;
  border: 1px solid #ccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  position: relative;
  margin: 1em auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.4);
}
.download-box h1 {
  margin: 0.5em 0 !important;
}
.download-box img.wp-post-image {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-top-left-radius: 3px;
  -moz-border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
}
.download-box .download-box-content {
  padding: 0 1em 1em;
}
.download-box .download-count {
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  color: #777;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background: #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.6em;
  width: auto;
  min-width: 1em;
  font-size: 1em;
  text-align: center;
  vertical-align: middle;
  line-height: 1em;
  border: 1px solid #bbb;
  margin: -0.5em -0.5em 0 0;
}
.download-button {
  text-align: center;
  text-decoration: none !important;
  padding: 0.75em 1em;
  color: #fff;
  display: block;
  font-size: 1.2em;
  line-height: 1.5em;
  background-color: #0099cc;
  background-image: -webkit-linear-gradient(#009fd4, #0099cc, #0086b2);
  background-image: -moz-linear-gradient(#009fd4, #0099cc, #0086b2);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.4);
  border: 1px solid #0086b2;
  cursor: pointer;
}
.download-button:hover {
  color: #fff;
  background-color: #0099cc;
  background-image: -webkit-linear-gradient(#0099cc, #0086b2);
  background-image: -moz-linear-gradient(#0099cc, #0086b2);
}
.download-button:visited {
  color: #fff;
  text-decoration: none;
}
.download-button small {
  font-size: 0.8em;
  opacity: 0.8;
  display: block;
}
.filetype-icon {
  padding-left: 19px;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url(../images/filetypes/document.png);
}
.filetype-pdf {
  background-image: url(../images/filetypes/document-pdf.png);
}
.filetype-m4r,
.filetype-au,
.filetype-snd,
.filetype-mid,
.filetype-midi,
.filetype-kar,
.filetype-mpga,
.filetype-mp2,
.filetype-mp3,
.filetype-aif,
.filetype-aiff,
.filetype-aifc,
.filetype-m3u,
.filetype-ram,
.filetype-rm,
.filetype-rpm,
.filetype-ra,
.filetype-wav,
.filetype-wave {
  background-image: url(../images/filetypes/document-music.png);
}
.filetype-mpeg,
.filetype-mpg,
.filetype-mpe,
.filetype-qt,
.filetype-mov,
.filetype-mxu,
.filetype-avi,
.filetype-movie,
.filetype-mp4,
.filetype-divx,
.filetype-wmv {
  background-image: url(../images/filetypes/document-film.png);
}
.filetype-zip,
.filetype-gz,
.filetype-rar,
.filetype-sit,
.filetype-tar,
.filetype-7z {
  background-image: url(../images/filetypes/document-zipper.png);
}
.filetype-xls,
.filetype-tsv,
.filetype-csv,
.filetype-xlsx {
  background-image: url(../images/filetypes/document-excel.png);
}
.filetype-doc,
.filetype-docx {
  background-image: url(../images/filetypes/document-word-text.png);
}
.filetype-ai {
  background-image: url(../images/filetypes/document-illustrator.png);
}
.filetype-swf {
  background-image: url(../images/filetypes/document-flash-movie.png);
}
.filetype-eps,
.filetype-ps,
.filetype-bmp,
.filetype-gif,
.filetype-ief,
.filetype-jpeg,
.filetype-jpg,
.filetype-jpe,
.filetype-png,
.filetype-tiff,
.filetype-tif,
.filetype-djv,
.filetype-wbmp,
.filetype-ras,
.filetype-pnm,
.filetype-pbm,
.filetype-pgm,
.filetype-ppm,
.filetype-rgb,
.filetype-xbm,
.filetype-xpm,
.filetype-xwd {
  background-image: url(../images/filetypes/document-image.png);
}
.filetype-psd {
  background-image: url(../images/filetypes/document-photoshop.png);
}
.filetype-ppt,
.filetype-pptx {
  background-image: url(../images/filetypes/document-powerpoint.png);
}
.filetype-js,
.filetype-css,
.filetype-as,
.filetype-htm,
.filetype-htaccess,
.filetype-sql,
.filetype-html,
.filetype-php,
.filetype-xml,
.filetype-xsl {
  background-image: url(../images/filetypes/document-code.png);
}
.filetype-rtx,
.filetype-rtf {
  background-image: url(../images/filetypes/document-text-image.png);
}
.filetype-txt {
  background-image: url(../images/filetypes/document-text.png);
}
nav.download-monitor-pagination,
#content nav.download-monitor-pagination {
  text-align: center;
}
nav.download-monitor-pagination ul,
#content nav.download-monitor-pagination ul {
  display: inline-block;
  white-space: nowrap;
  padding: 0;
  clear: both;
  border: 1px solid #eee;
  border-right: 0;
  margin: 1px;
}
nav.download-monitor-pagination ul li,
#content nav.download-monitor-pagination ul li {
  border-right: 1px solid #eee;
  padding: 0;
  margin: 0;
  float: left;
  display: inline;
  overflow: hidden;
}
nav.download-monitor-pagination ul li a,
#content nav.download-monitor-pagination ul li a,
nav.download-monitor-pagination ul li span,
#content nav.download-monitor-pagination ul li span {
  margin: 0;
  text-decoration: none;
  padding: 0;
  line-height: 1em;
  font-size: 1em;
  font-weight: normal;
  padding: 0.5em;
  min-width: 1em;
  display: block;
}
nav.download-monitor-pagination ul li span.current,
#content nav.download-monitor-pagination ul li span.current,
nav.download-monitor-pagination ul li a:hover,
#content nav.download-monitor-pagination ul li a:hover,
nav.download-monitor-pagination ul li a:focus,
#content nav.download-monitor-pagination ul li a:focus {
  background: #eee;
  color: #888888;
}
.dlm_widget_downloads ul,
.dlm_widget_downloads ul li {
  list-style: none;
}
.dlm-hidden-info {
  visibility: hidden;
}
/**
* Progress bar
*/
@keyframes infinite-spinning {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes infinite-loading {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
data.dlm-hidden-info {
  position: relative;
}
data.dlm-hidden-info span {
  font-weight: 700;
  color: green;
}
.dlm-hidden-info .progress.dlm-visible-spinner {
  display: inline-block;
  visibility: visible;
}
.dlm-hidden-info .progress.box {
  width: 100%;
}
.dlm-hidden-info .progress.box span.download-done::after {
  content: '✓';
}
.dlm-hidden-info .progress.box .progress-inner {
  height: 6px;
  top: 0;
  width: 0%;
  -webkit-transition: width 0.3s, opacity 0.3s;
  transition: width 0.3s, opacity 0.3s;
  position: absolute;
  left: 0;
  background: #006080;
  animation: none;
}
.dlm-hidden-info .progress .progress-inner {
  display: none;
  width: 75px;
  position: relative;
  margin-left: 15px;
}
.dlm-hidden-info .progress .progress-inner .dlm-visible-spinner {
  display: inline-block;
  visibility: visible;
}
/* Comment below lines for the new XHR loader so that we know where to rever*/
html body a.download-button {
  position: relative;
}
html body a.download-button.dlm-download-started {
  text-decoration: none;
}
html body a.download-button.dlm-download-complete::after {
  content: '✓';
  width: 20px;
  right: -30px;
  position: absolute;
  height: 100%;
  z-index: 3;
  background: transparent;
  color: green;
  bottom: 0;
  left: auto;
}
html body a.download-button::before {
  content: '';
  position: absolute;
  height: 2px;
  z-index: 3;
  bottom: -2px;
  left: 0;
  width: 0;
  background: red;
  transition: width 0.5s;
  box-shadow: 0px 0px 3px rgba(255, 0, 0, 0.8);
  border-radius: 5px;
}
html body a.download-button.download-Infinity::before {
  animation: infinite-loading 1s infinite linear;
}
html body a.download-button.download-10:before {
  width: 10%;
}
html body a.download-button.download-20:before {
  width: 20%;
}
html body a.download-button.download-30:before {
  width: 30%;
}
html body a.download-button.download-40:before {
  width: 40%;
}
html body a.download-button.download-50:before {
  width: 50%;
}
html body a.download-button.download-60:before {
  width: 60%;
}
html body a.download-button.download-70:before {
  width: 70%;
}
html body a.download-button.download-80:before {
  width: 80%;
}
html body a.download-button.download-90:before {
  width: 90%;
}
html body a.download-button.download-100:before {
  width: 100%;
}
a.download-button.dlm-download-complete::after {
  height: auto;
  top: 50%;
  transform: translateY(-50%);
}
a.download-button::before {
  z-index: 0;
}
a.download-button > * {
  z-index: 2;
  position: relative;
}
html body a.download-link {
  position: relative;
}
html body a.download-link::before,
html body a.download-link::after {
  content: '';
  position: absolute;
  right: -40px;
  border-radius: 5px;
  display: block;
  opacity: 0;
  z-index: -1;
}
html body a.download-link.dlm-download-started {
  text-decoration: none;
}
html body a.download-link.dlm-download-started::before,
html body a.download-link.dlm-download-started::after {
  opacity: 1;
  z-index: 99;
}
html body a.download-link.dlm-download-complete::after {
  content: '✓';
  opacity: 1;
  z-index: 99;
  background: transparent;
  animation: none;
  transform: translateY(-50%);
  top: calc(50% - 5px);
  line-height: initial;
}
html body a.download-link.dlm-download-complete::before {
  opacity: 0;
  z-index: -1;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.dlm-xhr-error {
  font-size: 12px;
  color: red;
}
.dlm-xhr-progress {
  min-width: 75px;
  width: auto;
  display: inline-block;
  position: relative;
}
.dlm-no-access-modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  color: inherit;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto;
  min-width: 600px;
  height: auto;
  min-height: 250px;
  box-shadow: rgba(0, 0, 0, 0.45) 0 25px 20px -20px;
  border-radius: 10px;
  max-width: 80%;
  max-height: 90%;
  overflow-y: auto;
  z-index: 99;
}
.dlm-no-access-modal-window > * {
  padding: 20px;
}
.dlm-no-access-modal-window .dlm-no-access-modal__header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  width: calc(100% - 40px);
  justify-content: space-between;
  align-items: center;
  clear: both;
  position: relative;
}
.dlm-no-access-modal-window .dlm-no-access-modal__body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}
.dlm-no-access-modal-window .dlm-no-access-modal__footer {
  text-align: right;
}
.dlm-no-access-modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #dededea1;
  top: 0;
  z-index: 98;
}
.dlm-no-access-modal-close span {
  display: block;
  position: relative;
  text-align: center;
  border-radius: 100px;
  background: #212A2F;
  color: #fff;
}
.dlm-no-access-modal-close:hover {
  cursor: pointer;
}
/*.dlm-modal-close-icon {
	background-color: #fff;
	-webkit-mask: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSI+PHBhdGggZD0iTTEyIDEzLjA2bDMuNzEyIDMuNzEzIDEuMDYxLTEuMDZMMTMuMDYxIDEybDMuNzEyLTMuNzEyLTEuMDYtMS4wNkwxMiAxMC45MzggOC4yODggNy4yMjdsLTEuMDYxIDEuMDZMMTAuOTM5IDEybC0zLjcxMiAzLjcxMiAxLjA2IDEuMDYxTDEyIDEzLjA2MXoiPjwvcGF0aD48L3N2Zz4=) no-repeat center;
	mask: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSI+PHBhdGggZD0iTTEyIDEzLjA2bDMuNzEyIDMuNzEzIDEuMDYxLTEuMDZMMTMuMDYxIDEybDMuNzEyLTMuNzEyLTEuMDYtMS4wNkwxMiAxMC45MzggOC4yODggNy4yMjdsLTEuMDYxIDEuMDZMMTAuOTM5IDEybC0zLjcxMiAzLjcxMiAxLjA2IDEuMDYxTDEyIDEzLjA2MXoiPjwvcGF0aD48L3N2Zz4=) no-repeat center;
	width: 41px;
	height: 43px;
	margin: 0 auto;
	position: relative;
	display: inline-block;
	mask-size: cover;
}*/
