.download-box {
  width: 250px;
  border: 1px solid #ccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  position: relative;
  margin: 1em auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.4);
}
.download-box h1 {
  margin: 0.5em 0 !important;
}
.download-box img.wp-post-image {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-top-left-radius: 3px;
  -moz-border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
}
.download-box .download-box-content {
  padding: 0 1em 1em;
}
.download-box .download-count {
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  color: #777;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background: #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.6em;
  width: auto;
  min-width: 1em;
  font-size: 1em;
  text-align: center;
  vertical-align: middle;
  line-height: 1em;
  border: 1px solid #bbb;
  margin: -0.5em -0.5em 0 0;
}
.download-button {
  text-align: center;
  text-decoration: none !important;
  padding: 0.75em 1em;
  color: #fff;
  display: block;
  font-size: 1.2em;
  line-height: 1.5em;
  background-color: #0099cc;
  background-image: -webkit-linear-gradient(#009fd4, #0099cc, #0086b2);
  background-image: -moz-linear-gradient(#009fd4, #0099cc, #0086b2);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.4);
  border: 1px solid #0086b2;
  cursor: pointer;
}
.download-button:hover {
  color: #fff;
  background-color: #0099cc;
  background-image: -webkit-linear-gradient(#0099cc, #0086b2);
  background-image: -moz-linear-gradient(#0099cc, #0086b2);
}
.download-button:visited {
  color: #fff;
  text-decoration: none;
}
.download-button small {
  font-size: 0.8em;
  opacity: 0.8;
  display: block;
}
.filetype-icon {
  padding-left: 19px;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url(../images/filetypes/document.png);
}
.filetype-pdf {
  background-image: url(../images/filetypes/document-pdf.png);
}
.filetype-m4r,
.filetype-au,
.filetype-snd,
.filetype-mid,
.filetype-midi,
.filetype-kar,
.filetype-mpga,
.filetype-mp2,
.filetype-mp3,
.filetype-aif,
.filetype-aiff,
.filetype-aifc,
.filetype-m3u,
.filetype-ram,
.filetype-rm,
.filetype-rpm,
.filetype-ra,
.filetype-wav,
.filetype-wave {
  background-image: url(../images/filetypes/document-music.png);
}
.filetype-mpeg,
.filetype-mpg,
.filetype-mpe,
.filetype-qt,
.filetype-mov,
.filetype-mxu,
.filetype-avi,
.filetype-movie,
.filetype-mp4,
.filetype-divx,
.filetype-wmv {
  background-image: url(../images/filetypes/document-film.png);
}
.filetype-zip,
.filetype-gz,
.filetype-rar,
.filetype-sit,
.filetype-tar,
.filetype-7z {
  background-image: url(../images/filetypes/document-zipper.png);
}
.filetype-xls,
.filetype-tsv,
.filetype-csv,
.filetype-xlsx {
  background-image: url(../images/filetypes/document-excel.png);
}
.filetype-doc,
.filetype-docx {
  background-image: url(../images/filetypes/document-word-text.png);
}
.filetype-ai {
  background-image: url(../images/filetypes/document-illustrator.png);
}
.filetype-swf {
  background-image: url(../images/filetypes/document-flash-movie.png);
}
.filetype-eps,
.filetype-ps,
.filetype-bmp,
.filetype-gif,
.filetype-ief,
.filetype-jpeg,
.filetype-jpg,
.filetype-jpe,
.filetype-png,
.filetype-tiff,
.filetype-tif,
.filetype-djv,
.filetype-wbmp,
.filetype-ras,
.filetype-pnm,
.filetype-pbm,
.filetype-pgm,
.filetype-ppm,
.filetype-rgb,
.filetype-xbm,
.filetype-xpm,
.filetype-xwd {
  background-image: url(../images/filetypes/document-image.png);
}
.filetype-psd {
  background-image: url(../images/filetypes/document-photoshop.png);
}
.filetype-ppt,
.filetype-pptx {
  background-image: url(../images/filetypes/document-powerpoint.png);
}
.filetype-js,
.filetype-css,
.filetype-as,
.filetype-htm,
.filetype-htaccess,
.filetype-sql,
.filetype-html,
.filetype-php,
.filetype-xml,
.filetype-xsl {
  background-image: url(../images/filetypes/document-code.png);
}
.filetype-rtx,
.filetype-rtf {
  background-image: url(../images/filetypes/document-text-image.png);
}
.filetype-txt {
  background-image: url(../images/filetypes/document-text.png);
}
nav.download-monitor-pagination,
#content nav.download-monitor-pagination {
  text-align: center;
}
nav.download-monitor-pagination ul,
#content nav.download-monitor-pagination ul {
  display: inline-block;
  white-space: nowrap;
  padding: 0;
  clear: both;
  border: 1px solid #eee;
  border-right: 0;
  margin: 1px;
}
nav.download-monitor-pagination ul li,
#content nav.download-monitor-pagination ul li {
  border-right: 1px solid #eee;
  padding: 0;
  margin: 0;
  float: left;
  display: inline;
  overflow: hidden;
}
nav.download-monitor-pagination ul li a,
#content nav.download-monitor-pagination ul li a,
nav.download-monitor-pagination ul li span,
#content nav.download-monitor-pagination ul li span {
  margin: 0;
  text-decoration: none;
  padding: 0;
  line-height: 1em;
  font-size: 1em;
  font-weight: normal;
  padding: 0.5em;
  min-width: 1em;
  display: block;
}
nav.download-monitor-pagination ul li span.current,
#content nav.download-monitor-pagination ul li span.current,
nav.download-monitor-pagination ul li a:hover,
#content nav.download-monitor-pagination ul li a:hover,
nav.download-monitor-pagination ul li a:focus,
#content nav.download-monitor-pagination ul li a:focus {
  background: #eee;
  color: #888888;
}
.dlm_widget_downloads ul,
.dlm_widget_downloads ul li {
  list-style: none;
}
.dlm-hidden-info {
  visibility: hidden;
}
/**
* Progress bar
*/
@keyframes infinite-spinning {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes infinite-loading {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
data.dlm-hidden-info {
  position: relative;
}
data.dlm-hidden-info span {
  font-weight: 700;
  color: green;
}
.dlm-hidden-info .progress.dlm-visible-spinner {
  display: inline-block;
  visibility: visible;
}
.dlm-hidden-info .progress.box {
  width: 100%;
}
.dlm-hidden-info .progress.box span.download-done::after {
  content: '✓';
}
.dlm-hidden-info .progress.box .progress-inner {
  height: 6px;
  top: 0;
  width: 0%;
  -webkit-transition: width 0.3s, opacity 0.3s;
  transition: width 0.3s, opacity 0.3s;
  position: absolute;
  left: 0;
  background: #006080;
  animation: none;
}
.dlm-hidden-info .progress .progress-inner {
  display: none;
  width: 75px;
  position: relative;
  margin-left: 15px;
}
.dlm-hidden-info .progress .progress-inner .dlm-visible-spinner {
  display: inline-block;
  visibility: visible;
}
/* Comment below lines for the new XHR loader so that we know where to rever*/
html body a.download-button {
  position: relative;
}
html body a.download-button.dlm-download-started {
  text-decoration: none;
}
html body a.download-button.dlm-download-complete::after {
  content: '✓';
  width: 20px;
  right: -30px;
  position: absolute;
  height: 100%;
  z-index: 3;
  background: transparent;
  color: green;
  bottom: 0;
  left: auto;
}
html body a.download-button::before {
  content: '';
  position: absolute;
  height: 2px;
  z-index: 3;
  bottom: -2px;
  left: 0;
  width: 0;
  background: red;
  transition: width 0.5s;
  box-shadow: 0px 0px 3px rgba(255, 0, 0, 0.8);
  border-radius: 5px;
}
html body a.download-button.download-Infinity::before {
  animation: infinite-loading 1s infinite linear;
}
html body a.download-button.download-10:before {
  width: 10%;
}
html body a.download-button.download-20:before {
  width: 20%;
}
html body a.download-button.download-30:before {
  width: 30%;
}
html body a.download-button.download-40:before {
  width: 40%;
}
html body a.download-button.download-50:before {
  width: 50%;
}
html body a.download-button.download-60:before {
  width: 60%;
}
html body a.download-button.download-70:before {
  width: 70%;
}
html body a.download-button.download-80:before {
  width: 80%;
}
html body a.download-button.download-90:before {
  width: 90%;
}
html body a.download-button.download-100:before {
  width: 100%;
}
a.download-button.dlm-download-complete::after {
  height: auto;
  top: 50%;
  transform: translateY(-50%);
}
a.download-button::before {
  z-index: 0;
}
a.download-button > * {
  z-index: 2;
  position: relative;
}
html body a.download-link {
  position: relative;
}
html body a.download-link::before,
html body a.download-link::after {
  content: '';
  position: absolute;
  right: -40px;
  border-radius: 5px;
  display: block;
  opacity: 0;
  z-index: -1;
}
html body a.download-link.dlm-download-started {
  text-decoration: none;
}
html body a.download-link.dlm-download-started::before,
html body a.download-link.dlm-download-started::after {
  opacity: 1;
  z-index: 99;
}
html body a.download-link.dlm-download-complete::after {
  content: '✓';
  opacity: 1;
  z-index: 99;
  background: transparent;
  animation: none;
  transform: translateY(-50%);
  top: calc(50% - 5px);
  line-height: initial;
}
html body a.download-link.dlm-download-complete::before {
  opacity: 0;
  z-index: -1;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.dlm-xhr-error {
  font-size: 12px;
  color: red;
}
.dlm-xhr-progress {
  min-width: 75px;
  width: auto;
  display: inline-block;
  position: relative;
}
.dlm-no-access-modal-window {
  /*  position: fixed;
  top: 50%;
  left: 50%;
  color: inherit;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width:auto;
  min-width: 600px;
  height: auto;
  min-height: 250px;
  box-shadow: rgba(0,0,0,.45) 0 25px 20px -20px;
  border-radius: 10px;
  max-width: 80%;
  max-height: 90%;
  overflow-y: auto;
  z-index: 99;*/
}
.dlm-no-access-modal-window > * {
  padding: 20px;
}
.dlm-no-access-modal-window .dlm-no-access-modal__header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  width: calc(100% - 40px);
  justify-content: space-between;
  align-items: center;
  clear: both;
  position: relative;
}
.dlm-no-access-modal-window .dlm-no-access-modal__body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}
.dlm-no-access-modal-window .dlm-no-access-modal__footer {
  text-align: right;
}
.dlm-no-access-modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #dededea1;
  top: 0;
  z-index: 98;
}
.dlm-no-access-modal-close span {
  display: block;
  position: relative;
  text-align: center;
  border-radius: 100px;
  background: #212A2F;
  color: #fff;
}
.dlm-no-access-modal-close:hover {
  cursor: pointer;
}
.dlm-no-access-notice {
  font-style: italic;
  color: red;
  font-weight: lighter;
}
#dlm_login_form input[type="submit"] {
  cursor: pointer;
}

#dlm-no-access-modal .dlm-fixed {
  position: fixed;
}
#dlm-no-access-modal .dlm-relative {
  position: relative;
}
#dlm-no-access-modal .dlm-inset-0 {
  inset: 0px;
}
#dlm-no-access-modal .dlm-z-10 {
  z-index: 10;
}
#dlm-no-access-modal .dlm-m-2 {
  margin: 0.5rem;
}
#dlm-no-access-modal .dlm-ml-3 {
  margin-left: 0.75rem;
}
#dlm-no-access-modal .dlm-mt-10 {
  margin-top: 2.5rem;
}
#dlm-no-access-modal .dlm-mt-2 {
  margin-top: 0.5rem;
}
#dlm-no-access-modal .dlm-mt-3 {
  margin-top: 0.75rem;
}
#dlm-no-access-modal .dlm-mt-4 {
  margin-top: 1rem;
}
#dlm-no-access-modal .dlm-mt-6 {
  margin-top: 1.5rem;
}
#dlm-no-access-modal .dlm-block {
  display: block;
}
#dlm-no-access-modal .dlm-flex {
  display: flex;
}
#dlm-no-access-modal .dlm-inline-flex {
  display: inline-flex;
}
#dlm-no-access-modal .dlm-h-12 {
  height: 3rem;
}
#dlm-no-access-modal .dlm-h-4 {
  height: 1rem;
}
#dlm-no-access-modal .dlm-h-6 {
  height: 1.5rem;
}
#dlm-no-access-modal .dlm-min-h-full {
  min-height: 100%;
}
#dlm-no-access-modal .dlm-w-12 {
  width: 3rem;
}
#dlm-no-access-modal .dlm-w-4 {
  width: 1rem;
}
#dlm-no-access-modal .dlm-w-6 {
  width: 1.5rem;
}
#dlm-no-access-modal .dlm-w-full {
  width: 100%;
}
#dlm-no-access-modal .dlm-w-screen {
  width: 100vw;
}
#dlm-no-access-modal .dlm-flex-1 {
  flex: 1 1 0%;
}
#dlm-no-access-modal .dlm-flex-shrink-0 {
  flex-shrink: 0;
}
#dlm-no-access-modal .dlm-transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
#dlm-no-access-modal .dlm-flex-col {
  flex-direction: column;
}
#dlm-no-access-modal .dlm-items-start {
  align-items: flex-start;
}
#dlm-no-access-modal .dlm-items-center {
  align-items: center;
}
#dlm-no-access-modal .dlm-justify-center {
  justify-content: center;
}
#dlm-no-access-modal .dlm-space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}
#dlm-no-access-modal .dlm-overflow-hidden {
  overflow: hidden;
}
#dlm-no-access-modal .dlm-overflow-y-auto {
  overflow-y: auto;
}
#dlm-no-access-modal .dlm-rounded {
  border-radius: 0.25rem;
}
#dlm-no-access-modal .dlm-rounded-full {
  border-radius: 9999px;
}
#dlm-no-access-modal .dlm-rounded-lg {
  border-radius: 0.5rem;
}
#dlm-no-access-modal .dlm-rounded-md {
  border-radius: 0.375rem;
}
#dlm-no-access-modal .dlm-border-0 {
  border-width: 0px;
}
#dlm-no-access-modal .dlm-border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}
#dlm-no-access-modal .dlm-bg-gray-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity));
}
#dlm-no-access-modal .dlm-bg-green-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(220 252 231 / var(--tw-bg-opacity));
}
#dlm-no-access-modal .dlm-bg-indigo-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(79 70 229 / var(--tw-bg-opacity));
}
#dlm-no-access-modal .dlm-bg-red-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 226 226 / var(--tw-bg-opacity));
}
#dlm-no-access-modal .dlm-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
#dlm-no-access-modal .dlm-bg-opacity-75 {
  --tw-bg-opacity: 0.75;
}
#dlm-no-access-modal .dlm-p-4 {
  padding: 1rem;
}
#dlm-no-access-modal .dlm-px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
#dlm-no-access-modal .dlm-px-1\.5 {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}
#dlm-no-access-modal .dlm-px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
#dlm-no-access-modal .dlm-px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
#dlm-no-access-modal .dlm-px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
#dlm-no-access-modal .dlm-py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
#dlm-no-access-modal .dlm-py-1\.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}
#dlm-no-access-modal .dlm-py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
#dlm-no-access-modal .dlm-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#dlm-no-access-modal .dlm-py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
#dlm-no-access-modal .dlm-pb-4 {
  padding-bottom: 1rem;
}
#dlm-no-access-modal .dlm-pt-5 {
  padding-top: 1.25rem;
}
#dlm-no-access-modal .dlm-text-left {
  text-align: left;
}
#dlm-no-access-modal .dlm-text-center {
  text-align: center;
}
#dlm-no-access-modal .dlm-text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
#dlm-no-access-modal .dlm-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
#dlm-no-access-modal .dlm-text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
#dlm-no-access-modal .dlm-font-bold {
  font-weight: 700;
}
#dlm-no-access-modal .dlm-font-medium {
  font-weight: 500;
}
#dlm-no-access-modal .dlm-font-semibold {
  font-weight: 600;
}
#dlm-no-access-modal .dlm-leading-6 {
  line-height: 1.5rem;
}
#dlm-no-access-modal .dlm-leading-9 {
  line-height: 2.25rem;
}
#dlm-no-access-modal .dlm-tracking-tight {
  letter-spacing: -0.025em;
}
#dlm-no-access-modal .dlm-text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}
#dlm-no-access-modal .dlm-text-indigo-600 {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}
#dlm-no-access-modal .dlm-text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity));
}
#dlm-no-access-modal .dlm-text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
#dlm-no-access-modal .dlm-shadow {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
#dlm-no-access-modal .dlm-shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
#dlm-no-access-modal .dlm-shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
#dlm-no-access-modal .dlm-ring-1 {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
#dlm-no-access-modal .dlm-ring-inset {
  --tw-ring-inset: inset;
}
#dlm-no-access-modal .dlm-ring-gray-300 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(209 213 219 / var(--tw-ring-opacity));
}
#dlm-no-access-modal .dlm-transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
#dlm-no-access-modal .dlm-transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.placeholder\:dlm-text-gray-400::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}
.placeholder\:dlm-text-gray-400::placeholder {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}
.hover\:dlm-bg-indigo-500:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(99 102 241 / var(--tw-bg-opacity));
}
.focus\:dlm-ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
.focus\:dlm-ring-inset:focus {
  --tw-ring-inset: inset;
}
.focus\:dlm-ring-indigo-600:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(79 70 229 / var(--tw-ring-opacity));
}
.focus-visible\:dlm-outline:focus-visible {
  outline-style: solid;
}
.focus-visible\:dlm-outline-2:focus-visible {
  outline-width: 2px;
}
.focus-visible\:dlm-outline-offset-2:focus-visible {
  outline-offset: 2px;
}
.focus-visible\:dlm-outline-indigo-600:focus-visible {
  outline-color: #4f46e5;
}
@media (min-width: 640px) {
  .sm\:dlm-mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .sm\:dlm-mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .sm\:dlm-my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .sm\:dlm-ml-4 {
    margin-left: 1rem;
  }
  .sm\:dlm-mt-0 {
    margin-top: 0px;
  }
  .sm\:dlm-flex {
    display: flex;
  }
  .sm\:dlm-h-10 {
    height: 2.5rem;
  }
  .sm\:dlm-w-10 {
    width: 2.5rem;
  }
  .sm\:dlm-w-auto {
    width: auto;
  }
  .sm\:dlm-w-full {
    width: 100%;
  }
  .sm\:dlm-max-w-\[480px\] {
    max-width: 480px;
  }
  .sm\:dlm-max-w-fit {
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .sm\:dlm-max-w-md {
    max-width: 28rem;
  }
  .sm\:dlm-flex-row-reverse {
    flex-direction: row-reverse;
  }
  .sm\:dlm-items-start {
    align-items: flex-start;
  }
  .sm\:dlm-items-center {
    align-items: center;
  }
  .sm\:dlm-rounded-lg {
    border-radius: 0.5rem;
  }
  .sm\:dlm-p-0 {
    padding: 0px;
  }
  .sm\:dlm-p-6 {
    padding: 1.5rem;
  }
  .sm\:dlm-px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .sm\:dlm-px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .sm\:dlm-pb-4 {
    padding-bottom: 1rem;
  }
  .sm\:dlm-text-left {
    text-align: left;
  }
  .sm\:dlm-text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .sm\:dlm-leading-6 {
    line-height: 1.5rem;
  }
}

.dlm-no-access-modal {
  z-index: 9999;
  position: fixed;
}
.dlm-no-access-modal *:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal *:not( .dlm-no-tailwind, .dlm-no-tailwind *  )::before,
.dlm-no-access-modal *:not( .dlm-no-tailwind, .dlm-no-tailwind *  )::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}
.dlm-no-access-modal *:not( .dlm-no-tailwind, .dlm-no-tailwind *  )::before,
.dlm-no-access-modal *:not( .dlm-no-tailwind, .dlm-no-tailwind *  )::after {
  --tw-content: '';
}
.dlm-no-access-modal *:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) hr:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}
.dlm-no-access-modal *:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) abbr:where([title]):not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
.dlm-no-access-modal h1:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal h2:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal h3:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal h4:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal h5:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal h6:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  font-size: inherit;
  font-weight: inherit;
}
.dlm-no-access-modal a:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  color: inherit;
  text-decoration: inherit;
}
.dlm-no-access-modal b:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal strong:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  font-weight: bolder;
}
.dlm-no-access-modal code:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal kbd:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal samp:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal pre:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
.dlm-no-access-modal small:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  font-size: 80%;
}
.dlm-no-access-modal sub:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal sup:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.dlm-no-access-modal sub:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  bottom: -0.25em;
}
.dlm-no-access-modal sup:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  top: -0.5em;
}
.dlm-no-access-modal table:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}
.dlm-no-access-modal button:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal input:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal optgroup:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal select:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal textarea:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}
.dlm-no-access-modal button:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal select:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  text-transform: none;
}
.dlm-no-access-modal button:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal [type='button']:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal [type='reset']:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal [type='submit']:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}
.dlm-no-access-modal *:not( .dlm-no-tailwind, .dlm-no-tailwind *  ):-moz-focusring {
  outline: auto;
}
.dlm-no-access-modal *:not( .dlm-no-tailwind, .dlm-no-tailwind *  ):-moz-ui-invalid {
  box-shadow: none;
}
.dlm-no-access-modal progress:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  vertical-align: baseline;
}
.dlm-no-access-modal *:not( .dlm-no-tailwind, .dlm-no-tailwind *  )::-webkit-inner-spin-button,
.dlm-no-access-modal *:not( .dlm-no-tailwind, .dlm-no-tailwind *  )::-webkit-outer-spin-button {
  height: auto;
}
.dlm-no-access-modal [type='search']:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
.dlm-no-access-modal *:not( .dlm-no-tailwind, .dlm-no-tailwind *  )::-webkit-search-decoration {
  -webkit-appearance: none;
}
.dlm-no-access-modal *:not( .dlm-no-tailwind, .dlm-no-tailwind *  )::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
.dlm-no-access-modal summary:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  display: list-item;
}
.dlm-no-access-modal blockquote:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal dl:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal dd:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal h1:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal h2:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal h3:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal h4:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal h5:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal h6:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal hr:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal figure:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal p:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal pre:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  margin: 0;
}
.dlm-no-access-modal fieldset:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  margin: 0;
  padding: 0;
}
.dlm-no-access-modal legend:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  padding: 0;
}
.dlm-no-access-modal ol:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal ul:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal menu:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dlm-no-access-modal dialog:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  padding: 0;
}
.dlm-no-access-modal textarea:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  resize: vertical;
}
.dlm-no-access-modal input:not( .dlm-no-tailwind, .dlm-no-tailwind *  )::-moz-placeholder,
.dlm-no-access-modal textarea:not( .dlm-no-tailwind, .dlm-no-tailwind *  )::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}
.dlm-no-access-modal input:not( .dlm-no-tailwind, .dlm-no-tailwind *  )::placeholder,
.dlm-no-access-modal textarea:not( .dlm-no-tailwind, .dlm-no-tailwind *  )::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}
.dlm-no-access-modal button:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal [role="button"]:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  cursor: pointer;
}
.dlm-no-access-modal *:not( .dlm-no-tailwind, .dlm-no-tailwind *  ):disabled {
  cursor: default;
}
.dlm-no-access-modal img:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal svg:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal video:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal canvas:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal audio:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal iframe:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal embed:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal object:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}
.dlm-no-access-modal img:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal video:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  max-width: 100%;
  height: auto;
}
.dlm-no-access-modal [hidden]:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  display: none;
}
.dlm-no-access-modal *:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
.dlm-no-access-modal *:not( .dlm-no-tailwind, .dlm-no-tailwind *  )::before,
.dlm-no-access-modal *:not( .dlm-no-tailwind, .dlm-no-tailwind *  )::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
.dlm-no-access-modal *:not( .dlm-no-tailwind, .dlm-no-tailwind *  )::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
