#dlm-no-access-modal .dlm-fixed {
  position: fixed;
}
#dlm-no-access-modal .dlm-relative {
  position: relative;
}
#dlm-no-access-modal .dlm-inset-0 {
  inset: 0px;
}
#dlm-no-access-modal .dlm-z-10 {
  z-index: 10;
}
#dlm-no-access-modal .dlm-m-2 {
  margin: 0.5rem;
}
#dlm-no-access-modal .dlm-ml-3 {
  margin-left: 0.75rem;
}
#dlm-no-access-modal .dlm-mt-10 {
  margin-top: 2.5rem;
}
#dlm-no-access-modal .dlm-mt-2 {
  margin-top: 0.5rem;
}
#dlm-no-access-modal .dlm-mt-3 {
  margin-top: 0.75rem;
}
#dlm-no-access-modal .dlm-mt-4 {
  margin-top: 1rem;
}
#dlm-no-access-modal .dlm-mt-6 {
  margin-top: 1.5rem;
}
#dlm-no-access-modal .dlm-block {
  display: block;
}
#dlm-no-access-modal .dlm-flex {
  display: flex;
}
#dlm-no-access-modal .dlm-inline-flex {
  display: inline-flex;
}
#dlm-no-access-modal .dlm-h-12 {
  height: 3rem;
}
#dlm-no-access-modal .dlm-h-4 {
  height: 1rem;
}
#dlm-no-access-modal .dlm-h-6 {
  height: 1.5rem;
}
#dlm-no-access-modal .dlm-min-h-full {
  min-height: 100%;
}
#dlm-no-access-modal .dlm-w-12 {
  width: 3rem;
}
#dlm-no-access-modal .dlm-w-4 {
  width: 1rem;
}
#dlm-no-access-modal .dlm-w-6 {
  width: 1.5rem;
}
#dlm-no-access-modal .dlm-w-full {
  width: 100%;
}
#dlm-no-access-modal .dlm-w-screen {
  width: 100vw;
}
#dlm-no-access-modal .dlm-flex-1 {
  flex: 1 1 0%;
}
#dlm-no-access-modal .dlm-flex-shrink-0 {
  flex-shrink: 0;
}
#dlm-no-access-modal .dlm-transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
#dlm-no-access-modal .dlm-flex-col {
  flex-direction: column;
}
#dlm-no-access-modal .dlm-items-start {
  align-items: flex-start;
}
#dlm-no-access-modal .dlm-items-center {
  align-items: center;
}
#dlm-no-access-modal .dlm-justify-center {
  justify-content: center;
}
#dlm-no-access-modal .dlm-space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}
#dlm-no-access-modal .dlm-overflow-hidden {
  overflow: hidden;
}
#dlm-no-access-modal .dlm-overflow-y-auto {
  overflow-y: auto;
}
#dlm-no-access-modal .dlm-rounded {
  border-radius: 0.25rem;
}
#dlm-no-access-modal .dlm-rounded-full {
  border-radius: 9999px;
}
#dlm-no-access-modal .dlm-rounded-lg {
  border-radius: 0.5rem;
}
#dlm-no-access-modal .dlm-rounded-md {
  border-radius: 0.375rem;
}
#dlm-no-access-modal .dlm-border-0 {
  border-width: 0px;
}
#dlm-no-access-modal .dlm-border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}
#dlm-no-access-modal .dlm-bg-gray-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity));
}
#dlm-no-access-modal .dlm-bg-green-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(220 252 231 / var(--tw-bg-opacity));
}
#dlm-no-access-modal .dlm-bg-indigo-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(79 70 229 / var(--tw-bg-opacity));
}
#dlm-no-access-modal .dlm-bg-red-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 226 226 / var(--tw-bg-opacity));
}
#dlm-no-access-modal .dlm-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
#dlm-no-access-modal .dlm-bg-opacity-75 {
  --tw-bg-opacity: 0.75;
}
#dlm-no-access-modal .dlm-p-4 {
  padding: 1rem;
}
#dlm-no-access-modal .dlm-px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
#dlm-no-access-modal .dlm-px-1\.5 {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}
#dlm-no-access-modal .dlm-px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
#dlm-no-access-modal .dlm-px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
#dlm-no-access-modal .dlm-px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
#dlm-no-access-modal .dlm-py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
#dlm-no-access-modal .dlm-py-1\.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}
#dlm-no-access-modal .dlm-py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
#dlm-no-access-modal .dlm-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#dlm-no-access-modal .dlm-py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
#dlm-no-access-modal .dlm-pb-4 {
  padding-bottom: 1rem;
}
#dlm-no-access-modal .dlm-pt-5 {
  padding-top: 1.25rem;
}
#dlm-no-access-modal .dlm-text-left {
  text-align: left;
}
#dlm-no-access-modal .dlm-text-center {
  text-align: center;
}
#dlm-no-access-modal .dlm-text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
#dlm-no-access-modal .dlm-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
#dlm-no-access-modal .dlm-text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
#dlm-no-access-modal .dlm-font-bold {
  font-weight: 700;
}
#dlm-no-access-modal .dlm-font-medium {
  font-weight: 500;
}
#dlm-no-access-modal .dlm-font-semibold {
  font-weight: 600;
}
#dlm-no-access-modal .dlm-leading-6 {
  line-height: 1.5rem;
}
#dlm-no-access-modal .dlm-leading-9 {
  line-height: 2.25rem;
}
#dlm-no-access-modal .dlm-tracking-tight {
  letter-spacing: -0.025em;
}
#dlm-no-access-modal .dlm-text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}
#dlm-no-access-modal .dlm-text-indigo-600 {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}
#dlm-no-access-modal .dlm-text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity));
}
#dlm-no-access-modal .dlm-text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
#dlm-no-access-modal .dlm-shadow {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
#dlm-no-access-modal .dlm-shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
#dlm-no-access-modal .dlm-shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
#dlm-no-access-modal .dlm-ring-1 {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
#dlm-no-access-modal .dlm-ring-inset {
  --tw-ring-inset: inset;
}
#dlm-no-access-modal .dlm-ring-gray-300 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(209 213 219 / var(--tw-ring-opacity));
}
#dlm-no-access-modal .dlm-transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
#dlm-no-access-modal .dlm-transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.placeholder\:dlm-text-gray-400::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}
.placeholder\:dlm-text-gray-400::placeholder {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}
.hover\:dlm-bg-indigo-500:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(99 102 241 / var(--tw-bg-opacity));
}
.focus\:dlm-ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
.focus\:dlm-ring-inset:focus {
  --tw-ring-inset: inset;
}
.focus\:dlm-ring-indigo-600:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(79 70 229 / var(--tw-ring-opacity));
}
.focus-visible\:dlm-outline:focus-visible {
  outline-style: solid;
}
.focus-visible\:dlm-outline-2:focus-visible {
  outline-width: 2px;
}
.focus-visible\:dlm-outline-offset-2:focus-visible {
  outline-offset: 2px;
}
.focus-visible\:dlm-outline-indigo-600:focus-visible {
  outline-color: #4f46e5;
}
@media (min-width: 640px) {
  .sm\:dlm-mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .sm\:dlm-mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .sm\:dlm-my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .sm\:dlm-ml-4 {
    margin-left: 1rem;
  }
  .sm\:dlm-mt-0 {
    margin-top: 0px;
  }
  .sm\:dlm-flex {
    display: flex;
  }
  .sm\:dlm-h-10 {
    height: 2.5rem;
  }
  .sm\:dlm-w-10 {
    width: 2.5rem;
  }
  .sm\:dlm-w-auto {
    width: auto;
  }
  .sm\:dlm-w-full {
    width: 100%;
  }
  .sm\:dlm-max-w-\[480px\] {
    max-width: 480px;
  }
  .sm\:dlm-max-w-fit {
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .sm\:dlm-max-w-md {
    max-width: 28rem;
  }
  .sm\:dlm-flex-row-reverse {
    flex-direction: row-reverse;
  }
  .sm\:dlm-items-start {
    align-items: flex-start;
  }
  .sm\:dlm-items-center {
    align-items: center;
  }
  .sm\:dlm-rounded-lg {
    border-radius: 0.5rem;
  }
  .sm\:dlm-p-0 {
    padding: 0px;
  }
  .sm\:dlm-p-6 {
    padding: 1.5rem;
  }
  .sm\:dlm-px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .sm\:dlm-px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .sm\:dlm-pb-4 {
    padding-bottom: 1rem;
  }
  .sm\:dlm-text-left {
    text-align: left;
  }
  .sm\:dlm-text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .sm\:dlm-leading-6 {
    line-height: 1.5rem;
  }
}
