*:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
*:not( .dlm-no-tailwind, .dlm-no-tailwind *  )::before,
*:not( .dlm-no-tailwind, .dlm-no-tailwind *  )::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}
*:not( .dlm-no-tailwind, .dlm-no-tailwind *  )::before,
*:not( .dlm-no-tailwind, .dlm-no-tailwind *  )::after {
  --tw-content: '';
}
*:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) hr:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}
*:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) abbr:where([title]):not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
h1:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
h2:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
h3:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
h4:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
h5:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
h6:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  font-size: inherit;
  font-weight: inherit;
}
a:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  color: inherit;
  text-decoration: inherit;
}
b:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
strong:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  font-weight: bolder;
}
code:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
kbd:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
samp:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
pre:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
small:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  font-size: 80%;
}
sub:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
sup:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  bottom: -0.25em;
}
sup:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  top: -0.5em;
}
table:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}
button:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
input:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
optgroup:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
select:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
textarea:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}
button:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
select:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  text-transform: none;
}
button:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
[type='button']:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
[type='reset']:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
[type='submit']:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}
*:not( .dlm-no-tailwind, .dlm-no-tailwind *  ):-moz-focusring {
  outline: auto;
}
*:not( .dlm-no-tailwind, .dlm-no-tailwind *  ):-moz-ui-invalid {
  box-shadow: none;
}
progress:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  vertical-align: baseline;
}
*:not( .dlm-no-tailwind, .dlm-no-tailwind *  )::-webkit-inner-spin-button,
*:not( .dlm-no-tailwind, .dlm-no-tailwind *  )::-webkit-outer-spin-button {
  height: auto;
}
[type='search']:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
*:not( .dlm-no-tailwind, .dlm-no-tailwind *  )::-webkit-search-decoration {
  -webkit-appearance: none;
}
*:not( .dlm-no-tailwind, .dlm-no-tailwind *  )::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
summary:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  display: list-item;
}
blockquote:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
dl:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
dd:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
h1:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
h2:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
h3:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
h4:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
h5:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
h6:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
hr:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
figure:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
p:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
pre:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  margin: 0;
}
fieldset:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  margin: 0;
  padding: 0;
}
legend:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  padding: 0;
}
ol:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
ul:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
menu:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  list-style: none;
  margin: 0;
  padding: 0;
}
dialog:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  padding: 0;
}
textarea:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  resize: vertical;
}
input:not( .dlm-no-tailwind, .dlm-no-tailwind *  )::-moz-placeholder,
textarea:not( .dlm-no-tailwind, .dlm-no-tailwind *  )::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}
input:not( .dlm-no-tailwind, .dlm-no-tailwind *  )::placeholder,
textarea:not( .dlm-no-tailwind, .dlm-no-tailwind *  )::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}
button:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
[role="button"]:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  cursor: pointer;
}
*:not( .dlm-no-tailwind, .dlm-no-tailwind *  ):disabled {
  cursor: default;
}
img:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
svg:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
video:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
canvas:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
audio:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
iframe:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
embed:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
object:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}
img:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
video:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  max-width: 100%;
  height: auto;
}
[hidden]:not( .dlm-no-tailwind, .dlm-no-tailwind *  ) {
  display: none;
}
*:not( .dlm-no-tailwind, .dlm-no-tailwind *  ),
*:not( .dlm-no-tailwind, .dlm-no-tailwind *  )::before,
*:not( .dlm-no-tailwind, .dlm-no-tailwind *  )::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
*:not( .dlm-no-tailwind, .dlm-no-tailwind *  )::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
