.diff {
    padding: 5px;
    border-radius: 3px;
    height: -moz-min-content;
    height: min-content;
    font-size: 12px;
    line-height: 16px;

    &.up {
        background-color: #4ab866;
        color: #fff;
    }

    &.down {
        background-color: #d94f4f;
        color: #fff;
    }

    &.text {
        color: #202224;
    }
}