/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./assets/apps/reports/components/DateRangeSelect.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.TkcJ8228959xaNHaWUIw {
  margin-right: 24px;
  min-width: 200px;
  cursor: pointer;
  display: flex;
  align-items: end;
}

.uZ7vfl6JvGodl8Wr9t88 {
  min-width: 240px;
}

.Zswxj6nzLAFlkANrLX0C {
  display: block;
  font-weight: 600;
  margin-bottom: 4px;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./assets/apps/reports/components/TabNavigation.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.pTlodgDwqA9nkk7tDg7i .Npx2EUVjJOED45ZvzLgh {
  margin: 0;
}
.pTlodgDwqA9nkk7tDg7i .Npx2EUVjJOED45ZvzLgh li {
  display: inline-block;
  list-style: none;
  margin-bottom: 0;
  margin-right: 24px;
}
.pTlodgDwqA9nkk7tDg7i .Npx2EUVjJOED45ZvzLgh li .Q6p83S7hxrWF3mBmsbDL {
  padding: 16px 0 16px;
  border: unset;
  border-bottom: 2px solid #fff;
  border-bottom-color: rgb(255, 255, 255);
  font-size: 16px;
  color: #000;
  display: inline-block;
  line-height: 1;
  outline: none;
  font-family: Lato, sans-serif;
  background: inherit;
  cursor: pointer;
}
.pTlodgDwqA9nkk7tDg7i .Npx2EUVjJOED45ZvzLgh li .Q6p83S7hxrWF3mBmsbDL.lVNIBm8C1He_3QM_gZgO {
  color: #5A8DFF;
  border-bottom-color: #5A8DFF;
  outline: none;
  box-shadow: none;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./assets/apps/reports/components/ReportsCards.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.zKnw3LCh18NnfUYQFSoe {
  display: grid;
  gap: 0;
  margin-top: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./assets/apps/reports/components/Summary.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.OtsPznnaaOGRfqkKZj7C {
  padding: 24px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
}
.OtsPznnaaOGRfqkKZj7C .DqapiS2MsuvMAHwBdiAe .brcwhmEpN_0OQGlJ7cgp {
  display: flex;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
.OtsPznnaaOGRfqkKZj7C .DqapiS2MsuvMAHwBdiAe ._5AYBQQ9O4bY8ifyoNwJ {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
}
.OtsPznnaaOGRfqkKZj7C:not(:first-child) {
  border-left: unset;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./assets/apps/reports/components/BarChartComponent.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.hniHlMn2BnPrfP8m1Xt9 {
  width: 100%;
  height: 400px;
  background-color: #fff;
  padding: 24px 0;
  overflow: hidden;
  position: relative;
  border: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hniHlMn2BnPrfP8m1Xt9 .OD3mKehE7C5PCr1Z3a0k {
  width: 60px;
  height: 60px;
}

.mDyGNNAdrghlP8FmoRZe {
  background-color: #fff;
  padding: 24px 0;
  overflow: hidden;
  position: relative;
  border: 1px solid #e0e0e0;
  margin-top: -1px;
}

.d4VNvjMZzF2DE9ErZ4ao {
  background: #FFF;
  font-size: 14px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  padding: 17px 17px 10px;
  display: grid;
  gap: 10px;
  min-width: 200px;
  box-sizing: border-box;
  line-height: 1;
}
.d4VNvjMZzF2DE9ErZ4ao .TyzjKTruwzyiGLwN8gSY {
  text-align: left;
  line-height: 18px;
  width: 100%;
  text-transform: uppercase;
  font-size: 11px;
  color: #757575;
  margin-top: 0;
}
.d4VNvjMZzF2DE9ErZ4ao .BHVKl5L7Gf1SCRhebh9s {
  display: grid;
  gap: 10px;
}
.d4VNvjMZzF2DE9ErZ4ao .BHVKl5L7Gf1SCRhebh9s .kHQHOxBHDfKLQAgwzKSg {
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: center;
}
.d4VNvjMZzF2DE9ErZ4ao .BHVKl5L7Gf1SCRhebh9s .kHQHOxBHDfKLQAgwzKSg .vLGAa0fdAPbu04ClO_5u {
  display: block;
  width: 16px;
  height: 16px;
}
.d4VNvjMZzF2DE9ErZ4ao .BHVKl5L7Gf1SCRhebh9s .kHQHOxBHDfKLQAgwzKSg .RTjoP0P6Zqt_G58p5ipA {
  background-color: #31688e;
}
.d4VNvjMZzF2DE9ErZ4ao .BHVKl5L7Gf1SCRhebh9s .kHQHOxBHDfKLQAgwzKSg .K7htSDUuFZRoHneSeITC {
  background-color: #35b779;
}
.d4VNvjMZzF2DE9ErZ4ao .BHVKl5L7Gf1SCRhebh9s .kHQHOxBHDfKLQAgwzKSg .QrKVb22HF_fqhEqO0jzp {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.d4VNvjMZzF2DE9ErZ4ao .BHVKl5L7Gf1SCRhebh9s .kHQHOxBHDfKLQAgwzKSg .QrKVb22HF_fqhEqO0jzp .lrYMzytddoc6eI_khRg2 {
  color: #3c434a;
  font-size: 14px;
}
.d4VNvjMZzF2DE9ErZ4ao .BHVKl5L7Gf1SCRhebh9s .kHQHOxBHDfKLQAgwzKSg .QrKVb22HF_fqhEqO0jzp .u4npxF14sTtiIA4Re5m4 {
  color: #3c434a;
  font-size: 14px;
  font-weight: 600;
}
.d4VNvjMZzF2DE9ErZ4ao .sOsPG1Q0wRC2jZu7XC5j {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
}
.d4VNvjMZzF2DE9ErZ4ao .sOsPG1Q0wRC2jZu7XC5j svg {
  width: 16px;
  height: 16px;
}
.d4VNvjMZzF2DE9ErZ4ao .sOsPG1Q0wRC2jZu7XC5j.k0Rpri4Zd8sbIH5wUvgG {
  color: #12a26c;
}
.d4VNvjMZzF2DE9ErZ4ao .sOsPG1Q0wRC2jZu7XC5j.k0Rpri4Zd8sbIH5wUvgG svg {
  fill: #12a26c;
}
.d4VNvjMZzF2DE9ErZ4ao .sOsPG1Q0wRC2jZu7XC5j.Dj6rqXvIT0ouh6WQaBUX {
  color: #7b0000;
}
.d4VNvjMZzF2DE9ErZ4ao .sOsPG1Q0wRC2jZu7XC5j.Dj6rqXvIT0ouh6WQaBUX svg {
  fill: #7b0000;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./assets/apps/reports/components/DownloadsTable.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.Cno_cX4y5p28fbOfgCKV {
  margin-top: 24px;
  box-shadow: 6px 6px 54px 0px rgba(0, 0, 0, 0.0509803922);
  padding: 24px 0px;
  background: #fff;
  border-radius: 7px;
  overflow: hidden;
  border: 1px solid #e0e0e0;
}
.Cno_cX4y5p28fbOfgCKV .NzUIAQ5ZyvcVkvngecEz {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  margin-bottom: 24px;
  padding: 0 24px;
}
.Cno_cX4y5p28fbOfgCKV .hGGOg9lGBERpMhWP9NNZ {
  background: #fff;
}
.Cno_cX4y5p28fbOfgCKV .SGCuUjZSsmQziq6XJH29 {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
  color: #2c3338;
  border-collapse: separate;
  border-spacing: 0;
}
.Cno_cX4y5p28fbOfgCKV .SGCuUjZSsmQziq6XJH29 th {
  padding: 8px 24px;
  text-align: center;
  vertical-align: middle;
}
.Cno_cX4y5p28fbOfgCKV .SGCuUjZSsmQziq6XJH29 td {
  padding: 16px 24px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #e2e4e7;
}
.Cno_cX4y5p28fbOfgCKV .SGCuUjZSsmQziq6XJH29 .dSM6eXd_uxetYmRvWl12 {
  padding: 8px 24px;
  background-color: #f8f9fa;
  font-weight: 700;
  white-space: nowrap;
  color: #1d2327;
}
.Cno_cX4y5p28fbOfgCKV .SGCuUjZSsmQziq6XJH29 .qysw3kQSNh5q6zaqMNHf {
  text-align: center;
  justify-content: center;
}
.Cno_cX4y5p28fbOfgCKV .WeSfL0ihf48KseWGL38E {
  background-color: #F1F4F9;
  border-radius: 12px;
}
.Cno_cX4y5p28fbOfgCKV .EpxLHbTC9GwwY_xAwLCG {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.Cno_cX4y5p28fbOfgCKV .EpxLHbTC9GwwY_xAwLCG:hover {
  background-color: #f9f9f9;
}
.Cno_cX4y5p28fbOfgCKV .h8WBHrnJaXbEaqAPndIC {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #202224;
}
.Cno_cX4y5p28fbOfgCKV .h8WBHrnJaXbEaqAPndIC .v8jTQSngbxQr0gIlmW6r {
  font-size: 14px;
  color: #666;
}
.Cno_cX4y5p28fbOfgCKV .i_DHVKc11Kb0sftza_TD {
  background-color: #fff;
}
.Cno_cX4y5p28fbOfgCKV .i_DHVKc11Kb0sftza_TD:hover {
  background-color: #f9f9f9;
}
.Cno_cX4y5p28fbOfgCKV .o1GvawnOEZJoudS9NNG0 {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #e2e4e7;
}
.Cno_cX4y5p28fbOfgCKV .gnfkPaEAMMPgQLudlCDR {
  background: none;
  border: none;
  color: #5A8DFF;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font-size: 13px;
}
.Cno_cX4y5p28fbOfgCKV .gnfkPaEAMMPgQLudlCDR:hover {
  color: #005177;
}
.Cno_cX4y5p28fbOfgCKV .Jx5AJ2SGhZhUtceYHLz8 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  font-size: 13px;
  color: #2c3338;
  background: #fff;
  overflow: hidden;
}
.Cno_cX4y5p28fbOfgCKV .Jx5AJ2SGhZhUtceYHLz8 span {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-right: 16px;
}
.Cno_cX4y5p28fbOfgCKV .Jx5AJ2SGhZhUtceYHLz8 .pZhKu6euYNlFYyhOZeAp {
  background: #fff;
  font-size: 13px;
  box-sizing: border-box;
  height: 34px;
  width: 60px;
  text-align: left;
  border-radius: 4px;
}
.Cno_cX4y5p28fbOfgCKV .Jx5AJ2SGhZhUtceYHLz8 .e23Gbuhe8cAAeWMWtVfQ .PtdVpMwz1oH0OxTjv4w5 {
  margin-bottom: 0;
}
.Cno_cX4y5p28fbOfgCKV .Jx5AJ2SGhZhUtceYHLz8 .e23Gbuhe8cAAeWMWtVfQ .qJovvHS7YXQv0tiUaMeE {
  background: #fff;
  font-size: 13px;
  box-sizing: border-box;
  height: 34px;
  width: 60px;
  text-align: left;
  border-radius: 4px;
}
.Cno_cX4y5p28fbOfgCKV .Jx5AJ2SGhZhUtceYHLz8 .e23Gbuhe8cAAeWMWtVfQ .qJovvHS7YXQv0tiUaMeE select {
  padding: 0 8px;
}
.Cno_cX4y5p28fbOfgCKV .Jx5AJ2SGhZhUtceYHLz8 .r03RTWiqeINk5_z5Tnm6 {
  background: #f0f2f4;
  cursor: pointer;
  height: 30px;
  width: 32px;
  color: #3c434a;
  font-size: 16px;
  border: 1px solid #b5bfc9;
}
.Cno_cX4y5p28fbOfgCKV .Jx5AJ2SGhZhUtceYHLz8 .r03RTWiqeINk5_z5Tnm6:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.Cno_cX4y5p28fbOfgCKV .Jx5AJ2SGhZhUtceYHLz8 .r03RTWiqeINk5_z5Tnm6.fazF0vJ9gz6DZK7jU6Oe {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.Cno_cX4y5p28fbOfgCKV .Jx5AJ2SGhZhUtceYHLz8 .r03RTWiqeINk5_z5Tnm6.LV4S2Kr_EC2J2ln070_c {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.Cno_cX4y5p28fbOfgCKV .Jx5AJ2SGhZhUtceYHLz8 .nyiOOibaBboVvYOR0LHM {
  margin-left: 16px;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./assets/apps/reports/ReportsWrapper.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.HhTgX6Zoub5qUvUmiFP_ {
  margin: 0;
}
.HhTgX6Zoub5qUvUmiFP_ .gx_zqWZet2GUvpzoowm_ {
  background-color: #fff;
  padding: 0 24px;
  border-bottom: 1px solid #ccc;
}
.HhTgX6Zoub5qUvUmiFP_ .Wl4bzQGpbpJD461VhP1o {
  padding: 24px 24px 0;
}
.HhTgX6Zoub5qUvUmiFP_ .KRNrHmonXZy8SHRaYBvU {
  padding: 0px 24px;
}
/*!***********************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./assets/apps/reports/index.css ***!
  \***********************************************************************************************************************************************************************************/
.dlm-reports-page-body{
 margin-left: -20px;
}
.dlm-reports-page-body .wpchill-upsells-wrapper {
    padding: 0px 24px;
    box-sizing: border-box;
}
#dlm_reports_page .recharts-surface:focus {
    outline: none;
}
#dlm_reports_page .dlm-downloads-table-col-download_id {
    width: 50px;
    cursor: default;
}
#dlm_reports_page .dlm-downloads-table-col-user_ip {
    cursor: default;
}
#dlm_reports_page .dlm-em-select__input:focus {
    box-shadow: unset;
}
#dlm_reports_page .dashicons {
    margin: 0;
}

#dlm_reports_page .dlm_reports_button {
    border: unset;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: right;
    background: #4880FF;
    color: #FFFFFF;
    padding: 10px 32px;
    border-radius: 6px;
    cursor: pointer;
}

#dlm_reports_page .components-base-control__field{
    margin: 0;
}

#dlm_reports_page h2{
    font-size: 15px;
}

/*# sourceMappingURL=reports.css.map*/