.barChartWrapper {
    background-color: #fff;
    padding: 24px 0;
    overflow: hidden;
    position: relative;
    border: 1px solid #e0e0e0;
}

.tooltip {
    background: #FFF;
    font-size: 14px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: .625rem;
    padding: 6px 10px;
    display: grid;
    gap: 0.375rem;
    min-width: 324px;
    box-sizing: border-box;

    .tooltipTitle {
        font-weight: 500;
        font-size: .75rem;
        color: oklch(.145 0 0);
    }

    .tooltipWrap {
        display: grid;
        gap: 0.375rem;

        .tooltipDataWrap {
            display: flex;
            gap: 0.375rem;
            width: 100%;
            align-items: center;

            .tip {
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 3px;
            }

            .tipCurrent {
                background-color: #31688e;
            }

            .tipCompare {
                background-color: #35b779;
            }

            .tooltipData {
                display: flex;
                gap: 0.75rem;
                justify-content: space-between;
                flex: 1;

                .title {
                    color: oklch(.556 0 0);
                    font-size: 0.75rem;
                    line-height: 1
                }

                .value {
                    color: oklch(.145 0 0);
                    font-size: 0.75rem;
                    line-height: 1
                }
            }
        }
    }


    .diff {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        border-top: 1px solid oklch(.922 0 0);
        padding-top: 0.375rem;

        svg {
            width: 16px;
            height: 16px;
        }

        &.increase {
            color: #12a26c;

            svg {
                fill: #12a26c;
            }
        }

        &.decrease {
            color: #7b0000;

            svg {
                fill: #7b0000;
            }
        }
    }
}