.wrapper {
	margin-top: 24px;
	box-shadow: 6px 6px 54px 0px #0000000D;
	padding: 24px 0px;
	background: #fff;
	border-radius: 7px;
	overflow: hidden;
	border: 1px solid #e0e0e0;

	.header {
		display: grid;
		grid-gap: 12px;
		grid-template-columns: min-content 1fr min-content;
		align-items: center;
		margin-bottom: 24px;
		padding: 0 24px;
	}

	.downloadTableWrapper {
		background: #fff;
	}

	.downloadTable {
		width: 100%;
		border-collapse: collapse;
		font-size: 13px;
		color: #2c3338;
		border-collapse: separate;
		border-spacing: 0;

		th {
			padding: 8px 24px;
			text-align: center;
			vertical-align: middle;
		}

		td {
			padding: 16px 24px;
			text-align: center;
			vertical-align: middle;
			border-bottom: 1px solid #e2e4e7;
		}

		.downloadTableHead {
			padding: 8px 24px;
			background-color: #f8f9fa;
			font-weight: 700;
			white-space: nowrap;
			color: #1d2327;
		}
		.tableHeader{
			text-align: center;
			justify-content: center;
		}
	}

	.tableHeaderRow {
		background-color: #F1F4F9;
		border-radius: 12px;
	}

	.tableHeaderCell {
		cursor: pointer;
		user-select: none;

		&:hover {
			background-color: #f9f9f9;
		}
	}

	.headerWithSort {
		display: flex;
		align-items: center;
		gap: 6px;
		color: #202224;

		.dashicons {
			font-size: 14px;
			color: #666;
		}
	}

	.tableRow {
		background-color: #fff;

		&:hover {
			background-color: #f9f9f9;
		}
	}

	.tableLoadingCell {
		text-align: center;
		padding: 20px;
		background-color: #fff;
		border-bottom: 1px solid #e2e4e7;
	}

	.linkButton {
		background: none;
		border: none;
		color: #5A8DFF;
		text-decoration: underline;
		cursor: pointer;
		padding: 0;
		font-size: 13px;

		&:hover {
			color: #005177;
		}
	}

	.pagination {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 24px;
		font-size: 13px;
		color: #2c3338;
		background: #fff;
		overflow: hidden;

		span {
			display: flex;
			align-items: center;
			gap: 6px;
			margin-right: 16px;
		}

		.paginationInput {
			background: #fff;
			font-size: 13px;
			box-sizing: border-box;
			height: 34px;
			width: 60px;
			text-align: left;
			border-radius: 4px;
		}

		.perPagePicker {
			.components-base-control__field {
				margin-bottom: 0;
			}

			.perPageSelect {
				background: #fff;
				font-size: 13px;
				box-sizing: border-box;
				height: 34px;
				width: 60px;
				text-align: left;
				border-radius: 4px;

				select {
					padding: 0 8px;
				}
			}
		}

		.paginationButton {
			background: #f0f2f4;
			cursor: pointer;
			height: 30px;
			width: 32px;
			color: #3c434a;
			font-size: 16px;
			border: 1px solid #b5bfc9;

			&:disabled {
				opacity: 0.5;
				cursor: not-allowed;
			}

			&.paginationButtonPrev {
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
			}

			&.paginationButtonNext {
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
			}
		}

		.pagePicker {
			margin-left: 16px;
		}
	}
}