.dlmReportsCardsWrapper{
    display: flex;
    flex-direction: row;
    justify-content: initial;
    background-color: #fff;
    margin-top: 25px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    .dlmReportsCard{
        width: 20%;
        padding: 24px;
        margin: 0;
        font-weight: 600;
        border-right: 1px solid #e0e0e0;
        min-width: 200px;
        box-sizing: border-box;
        .dlmReportsCardTitle{
            color: #646566;
            margin: 0 0 1em;
            font-size: 14px;
            line-height: 1;
        }
        .dlmReportsCardValue{
            color: #1D2327;
            font-size: 28px;
            line-height: 1;
            font-weight: 700;
            margin: 0;
        }
    }
}